{% extends 'base.html' %}
{% block content %}
    <div class="ticket_review">
        <h2>Modifier un billet</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="post">
                <h3>Livre / Article</h3>
                <p>Auteur : {{ ticket_form.user }} </p>
                {{ ticket.as_p }}
            </div>
            <hr>
            <div class="post">
                <h3>Critique</h3>
                {{ review.as_p }}
            </div>
            <button type="submit" >Publier</button>
        </form>
    </div>
{% endblock content %}