{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="main-container">
        <div class="flux">
            <form method="post" enctype="multipart/form-data">
                <h2>Modifier le billet</h2>
                    {{ edit_review_form.as_p }}
                    {{ edit_ticket_form.as_p }}
            </form>
            <div class=edit_button> 
                <form action="{% url 'review_ticket_edit' ticket.id %}" method='post'>
                    {% csrf_token %}
                    <button type="submit" >Sauvegarder</button>
                </form>
                <form action="{% url 'post' %}" method='post'>
                    {% csrf_token %}
                    <button type="submit" >Retour</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
