/* CSS pour le bandeau */
header {
    background-color: #337ab7; /* Couleur du bandeau */
    color: white; /* Couleur du texte */
    padding: 2px;
    text-align: center;
}

/* CSS pour les colonnes */
.container {
    display: flex; /* Utilisation de flexbox pour les colonnes */
}

.column {
    flex: 1; /* Les colonnes prennent la même largeur */
    padding: 20px;
    border: 1px solid #ccc; /* Bordure pour la délimitation */
    text-align: center;
}

.tab-center {
    margin-left:auto;
    margin-right:auto;
}
