{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="flux-button-container">
        {% if user.is_authenticated %}
            <p>
                <button class="flux-button-left" onclick="window.location.href='{% url 'ticket_create' %}'">Demander une critique</button>
                <button class="flux-button-right" onclick="window.location.href='{% url 'review_ticket_create' %}'">Créer une Critique</button>
            </p>
        {% endif %}
    </div>
    
    {% for element in tickets_and_review %}
        <div class="main-container">
            <div class="flux">
                {% if element.1 != '' %}
                    <div class="head-post">
                        <span>
                            <h4>Vous avez publié une critique</h4>
                        </span>
                        <span>
                            <div class="date">
                                {{ element.1.time_created }}
                            </div>
                        </span>
                    </div>
                    <div class="review">
                        <p class="headline">{{ element.1.headline }}
                            <span class="stars"> {{ element.1.rating|convert_to_stars_filter }} </span>
                        </p>
                        <p class="headline">{{ element.1.body }}
                    </div>
                    {% else %}
                        <div class="head-post">
                            <div class="review">
                                <span>
                                    <h4>Vous pouvez ajouter une critique !</h4>
                                </span>
                            </div>
                        </div>
                {% endif %}

                <div class="ticket">
                    <div class="auteur">
                        <h4 > 
                            Ticket - ({{ element.0.user }})
                        </h4>
                        <p>
                            {{ element.0.title }}
                        </p>
                        <div class="image-container">
                            <img class="image" src="{{ element.0.image.url }}" alt="">
                            <div class="description">
                                <h2>Description :</h2>
                                <p>
                                    {{ element.0.description }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
